index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Control Panel</title>
    <link href="css/main.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1" name="viewport">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand text-uppercase" href="#">Vampire hunters</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="btn btn-link" href="#">60:00</a></li>
            <li><a class="btn btn-success text-uppercase" href="#">Start</a></li>
            <li class="li-reset"><a class="btn btn-danger text-uppercase" href="#">reset</a></li>
            <li class="dropdown"><a class="btn btn-primary dropdown-toggle text-uppercase" id="dropdownMain" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMain">
                <li><a class="text-uppercase" href="#">English</a></li>
                <li><a class="text-uppercase" href="#">Espaniol</a></li>
                <li><a class="text-uppercase" href="#">Italiano</a></li>
                <li><a class="text-uppercase" href="#">Русский</a></li>
                <li><a class="text-uppercase" href="#">catala</a></li>
              </ul>
            </li>
            <li>
              <div class="progress"><span class="text-uppercase">Progress: 50%</span>
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row row-flex">
        <div class="box text-center">
          <h3>Statue</h3>
          <div class="label label-empty"></div>
          <div class="row-checkbox"><span class="checkbox-label text-right">Auto</span>
            <div class="checkbox checkbox-slider--b">
              <label>
                <input type="checkbox" checked><span> </span>
              </label>
            </div><span class="checkbox-label text-left">Fill</span>
          </div>
        </div>
        <div class="box text-center">
          <h3>1st floor</h3>
          <div class="label label-playing text-center">Playing</div>
          <div class="row-checkbox"><span class="checkbox-label text-right">Auto</span>
            <div class="checkbox checkbox-slider--b">
              <label>
                <input type="checkbox" checked><span> </span>
              </label>
            </div><span class="checkbox-label text-left">OPEN</span>
          </div>
        </div>
        <div class="box text-center">
          <h3>Coffin with monsters</h3>
          <div class="label label-closed text-center">Closed</div>
          <div class="row-checkbox"><span class="checkbox-label text-right">Auto</span>
            <div class="checkbox checkbox-slider--b">
              <label>
                <input type="checkbox" checked><span> </span>
              </label>
            </div><span class="checkbox-label text-left">drop</span>
          </div>
        </div>
        <div class="box text-center">
          <h3>Monsters</h3>
          <div class="label label-closed text-center">Closed</div>
          <div class="row-checkbox"><span class="checkbox-label text-right">Auto</span>
            <div class="checkbox checkbox-slider--b">
              <label>
                <input type="checkbox" checked><span> </span>
              </label>
            </div><span class="checkbox-label text-left">drop</span>
          </div>
        </div>
        <div class="box text-center">
          <h3>Coffin with clock</h3>
          <div class="label label-unlocked text-center">Unlocked</div>
          <div class="btn-rounded">Open</div>
        </div>
        <div class="box text-center">
          <h3>Coffin with clock</h3>
          <div class="label label-unlocked text-center">Unlocked</div>
          <div class="btn-rounded">Play</div>
        </div>
        <div class="box text-center">
          <h3>Coffin with map</h3>
          <div class="label label-unlocked text-center">Unlocked</div>
        </div>
        <div class="box text-center">
          <h3>Statue</h3>
          <div class="label label-locked text-center">Locked</div>
        </div>
        <div class="box text-center">
          <h3>Coffin with monsters</h3>
          <div class="label label-killed text-center">Killed</div>
        </div>
        <div class="box text-center">
          <h3>Final door</h3>
          <div class="label label-killed text-center">Killed</div>
        </div>
        <div class="box text-center">
          <h3>Kill Dracula</h3>
          <div class="label label-locked text-center">Locked</div>
        </div>
      </div>
      <div class="row text-center"><a class="text-powered" href="#">Powered by CityQuest</a></div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>

index.pug
doctype html
html
  head
    meta(charset='UTF-8')
    title Control Panel
    link(href='css/main.css', rel='stylesheet')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="width=device-width,initial-scale=1" name="viewport")
  body
    .container
      .row
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.text-uppercase(href='#') Vampire hunters
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.btn.btn-link(href='#') 60:00
            li
              a.btn.btn-success.text-uppercase(href='#') Start
            li.li-reset
              a.btn.btn-danger.text-uppercase(href='#') reset
            li.dropdown
              a.btn.btn-primary.dropdown-toggle.text-uppercase#dropdownMain(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | English 
                span.caret
              ul.dropdown-menu(aria-labelledby="dropdownMain")
                li
                  a.text-uppercase(href='#') English
                li
                  a.text-uppercase(href='#') Espaniol
                li
                  a.text-uppercase(href='#') Italiano
                li
                  a.text-uppercase(href='#') Русский
                li
                  a.text-uppercase(href='#') catala
            li
              .progress
                span.text-uppercase Progress: 50%
                .progress-bar(role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;")
      .row.row-flex
        .box.text-center
          h3 Statue
          .label.label-empty
          .row-checkbox
            span.checkbox-label.text-right Auto
            .checkbox.checkbox-slider--b
              label
                input(type='checkbox' checked)
                span 
            span.checkbox-label.text-left Fill

        .box.text-center
          h3 1st floor
          .label.label-playing.text-center Playing
          .row-checkbox
            span.checkbox-label.text-right Auto
            .checkbox.checkbox-slider--b
              label
                input(type='checkbox' checked)
                span 
            span.checkbox-label.text-left OPEN
        .box.text-center
          h3 Coffin with monsters
          .label.label-closed.text-center Closed
          .row-checkbox
            span.checkbox-label.text-right Auto
            .checkbox.checkbox-slider--b
              label
                input(type='checkbox' checked)
                span 
            span.checkbox-label.text-left drop
        .box.text-center
          h3 Monsters
          .label.label-closed.text-center Closed
          .row-checkbox
            span.checkbox-label.text-right Auto
            .checkbox.checkbox-slider--b
              label
                input(type='checkbox' checked)
                span 
            span.checkbox-label.text-left drop
        .box.text-center
          h3 Coffin with clock
          .label.label-unlocked.text-center Unlocked
          .btn-rounded Open
        .box.text-center
          h3 Coffin with clock
          .label.label-unlocked.text-center Unlocked
          .btn-rounded Play
        .box.text-center
          h3 Coffin with map
          .label.label-unlocked.text-center Unlocked
        .box.text-center
          h3 Statue
          .label.label-locked.text-center Locked
        .box.text-center
          h3 Coffin with monsters
          .label.label-killed.text-center Killed
        .box.text-center
          h3 Final door
          .label.label-killed.text-center Killed
        .box.text-center
          h3 Kill Dracula
          .label.label-locked.text-center Locked
      .row.text-center
        a.text-powered(href="#") Powered by CityQuest
    script(src='js/main.js')
